
{% assign instructions = product.metafields['Nutritional info'] %}

<div class="mini-pag-top page-width">
  <div class="wrapped-mini-link">
    <div class="links-top product-ll" style="margin-bottom: 19px;width: {{ width__ }}px;">
      <a href="{{ routes.root_url }}" class="first-child">Home</a>
      <div class="rigtt-arrow">{% include 'links-arrow' %}</div>
      {% if collection.title == 'Products' %}
      <a href="/collections/all" class="end-link orange">Shop</a>
      {% else %}   
        <a href="/collections/all" class="end-link">Shop</a>
        <div class="rigtt-arrow">{% include 'links-arrow' %}</div>
        {%- if collection -%}
          <a href="{{ collection.url }}" class="end-link">{{ collection.title}}</a>   
          <div class="rigtt-arrow">{% include 'links-arrow' %}</div>
        {%- endif -%}
        <a href="{{ collection.url | append:  product.url}}" class="end-link orange">{{product.title}}</a>
      {% endif %}
    </div>  
  </div>
  {% if collection %}
    <div class="name-coll-f">
      <h1>{{collection.title}}</h1>
    </div>
    <div style="{% if collection.previous_product == blank %}justify-content: flex-end; {% endif %}" class="paggin-product">
        {% if collection.previous_product %}
      <a href="{{collection.previous_product.url}}"> <img style="margin-right: 12px;" src="{{ 'left-arrow.png' | asset_img_url: 'medium' }}" alt="right-arrow"><p>Next product</p></a>
     {% endif %}
     {% if collection.next_product %}
      <a href="{{collection.next_product.url}}"><p>Next product</p><img style="margin-left: 12px;" src="{{ 'right-arrow.png' | asset_img_url: 'medium' }}" alt="right-arrow"></a>
      {% endif %}
    </div>
  {% endif %}
  <div class="main-wrap-prod">
      <div class="main-prod-img">
        <div class="wrapped-photo">
        {%- for image in product.images -%}
        {%- if forloop.first == true -%}
        <div class="{{image.id}} abs-img-prod show-img">
            <img  src="{{ image | img_url: 'master' }}" alt="">
        </div>
        {% else %}
        <div class="{{image.id}} abs-img-prod hide-img">
            <img  src="{{ image | img_url: 'master' }}" alt="">
        </div>
        {%- endif -%}
        {%- endfor -%}
        {%- if product.images.size > 1 -%}
          {%- if instructions['nut-info'] -%}
            <div style="bottom: 193px;{% if product.images.size == 3 %} left: 34px; {% endif %}" class="click-mini-img">
          {% else %}
            <div style="bottom: -31px;{% if product.images.size == 3 %} left: 34px; {% endif %}" class="click-mini-img">
          {%- endif -%}
            {%- for image in product.images -%}
             {%- if forloop.first == true -%}
             <div class="{{image.id}} mini-img-item click-fo">
                <img src="{{image | img_url: '73x110' }}" alt="">
              </div>
             {% else %}
             <div class="{{image.id}} mini-img-item">
                <img src="{{image | img_url: '73x110' }}" alt="">
              </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
      <div class="right-prod-desc">
        <div class="pro-title">
            <h1>{{product.title}}</h1>
            <p>Vitamins & Supplements</p>
        </div>
        <div class="pricepro">
          {{product.price | money }}
        </div>
        <div class="add-to-cart">
            {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}                            
            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>

            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden" data-error-message-wrapper role="alert">
              {% include 'icon-error' %} <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>

            <div class="wrapped-button-cart" style="display: inline-block;">
              <button type="submit" name="add"
                {% unless product.available %} aria-disabled="true"{% endunless %}
                aria-label="{% unless product.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                class="btn product-form__cart-submit pro-add-once"
                style="color: white; background-color: #ff7933"
                data-add-to-cart>
                <span data-add-to-cart-text>
                  {% unless product.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
                <span class="hide" data-loader>
                  {% include 'icon-spinner' %}
                </span>
              </button>
              {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
              {% endif %}
            </div>
          {% endform %}
        </div>
        <div class="dinamic-desc-pro">
          <div class="item-din">
            <span>Packaging</span>
            <p>{{section.settings.packaging}}</p>
          </div>
          <div class="item-din">
            <span>Daily Serving</span>
            <p>{{section.settings.daily-serving}}</p>
          </div>
          <div class="item-din">
            <span>Flavours</span>
            <p>{{section.settings.flavours}}</p>
          </div>
        </div>

        <div class="prod-desct">
          {{product.description}}
        </div>
        <div class="wrapp-ul-pro">
          <ul>
           {%- for block in section.blocks -%}
           <li>{{block.settings.list1}}</li>
           <li>{{block.settings.list2}}</li>
           <li>{{block.settings.list3}}</li>
           <li>{{block.settings.list4}}</li>
           <li>{{block.settings.list5}}</li>
           {% break %}
           {%- endfor -%}
          </ul>
        </div>
        <div class="show-table-prod">
        {%- if instructions['nut-info'] -%}
          {{instructions['nut-info']}}
        {%- else -%}
          <div class="non-info">
              <h1>No nutritional information available.</h1>
          </div>
        {%- endif -%}
        </div>
      </div>
      </div>
    </div>
</div>

{% schema %}
{
  "name": {
    "en": "Product description"
  },
  "max_blocks": 1,
  "settings": [
    {
      "type": "text",
      "id": "packaging",
      "label": "Packaging"
    },
    {
      "type": "text",
      "id": "daily-serving",
      "label": "Daily Serving"
    },
    {
      "type": "text",
      "id": "flavours",
      "label": "Flavours"
    }
  ],
  "blocks":[
  {
    "type": "text_block",
    "name": "List",
    "settings": [
    {
      "type": "text",
      "id": "list1",
      "label": "first list item"
    },
    {
      "type": "text",
      "id": "list2",
      "label": "second list item"
    },
    {
      "type": "text",
      "id": "list3",
      "label": "third list item"
    },
    {
      "type": "text",
      "id": "list4",
      "label": "fourth item"
    },
    {
      "type": "text",
      "id": "list5",
      "label": "fifth item"
    }
    ]
  }
  ]
}
{% endschema %}
