

{% paginate collection.products by 3 %}
<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">
    {%- assign is_filter_by_available = false -%}
    {%- if section.settings.tags_enable and collection.all_tags.size > 0 -%}
      {%- assign is_filter_by_available = true -%}
    {%- endif -%}

    {%- assign is_vendor_or_type_collection = false -%}
    {%- if collection.current_type != blank or collection.current_vendor != blank -%}
      {%- assign is_vendor_or_type_collection = true -%}
    {%- endif -%}

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
          <h1 class="collection-hero__title page-width">
            <span role="text">
              <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
              {{ collection.title }}
            </span>
          </h1>
        </div>
      </div>
      {% if is_filter_by_available == false and section.settings.sort_enable == false %}
        <div class="page-width">
          <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
        </div>
      {% endif %}
      {% if collection.description != blank %}
        <div class="rte collection-description page-width">
          {{ collection.description }}
        </div>
      {% endif %}
    {% else %}
        {% if collection.title == 'Products' %}
          {%- assign width__ = '94'%}
        {% else %}
          {%- assign width__ = '243'%}
        {% endif %}

      <div class="page-width">
          <div class="links-top" style="margin-bottom: 19px;width: {{ width__ }}px;">
              <a href="{{ routes.root_url }}" class="first-child">Home</a>
              <div class="rigtt-arrow">{% include 'links-arrow' %}</div>
              {% if collection.title == 'Products' %}
              <a href="/collections/all?view=list" class="end-link orange">Shop</a>
              {% else %}   
                <a href="/collections/all?view=list" class="end-link">Shop</a>
                <div class="rigtt-arrow">{% include 'links-arrow' %}</div>
                <a href="{{ collection.url }}?view=list" class="end-link orange">{{ collection.title}}</a>            
              {% endif %}
            </div>  
            <div class="name-page-ff pos-new">
              
              {%- assign nameCollection = collection.title -%}
               <div class="title-name-col-d adapt-t">{{ collection.title }}</div>
               <div class="wrap-sort">
                  <div class="w-sort">
                      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                      <label class="title-sort-l" for="SortBy">{{ 'collections.sorting.title' | t }}:</label>
                      <div class="drop-menu-sel">
                        <select name="sort_by" id="SortBy"
                          class="drop-w-w"
                          data-default-sortby="{{ collection.default_sort_by }}"
                          onchange="location = this.value;"
                        >
                         {%- for option in collection.sort_options -%}
                            <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{{ option.name }}</option>
                          {%- endfor -%}

                       
                        </select>
                      </div>
                      <div class="group-lik"> 
                          <a href="{{ collection.url }}?page={{ paginate.current_page }}">
                            <div class="white-svg">{% include 'link-tab' %}</div>
                        </a>
                          <a href="{{ collection.url }}?view=list&page={{ paginate.current_page }}">
                            <div>{% include 'list-link' %}</div>
                        </a>
                      </div>
                    </div>
               </div>
            </div>
      </div>
    {% endif %}
    <div class="page-width">
        <div class="wrapped-tab-list">
          <div class="colliection-links">
            {%- if nameCollection == 'Products' -%}
            <div class="link-once"><a style="font-weight: bold;" href="/collections/all?view=list">All products</a></div>
            {%- else -%}
            <div class="link-once"><a href="/collections/all?view=list">All products</a></div>
            {%- endif -%}
            {% for collection in collections %}
              {%- if collection.title == 'featured-products' -%}
                {% continue %}
              {%- endif -%}
              <div class="link-once">
                {%- if collection.title == nameCollection -%}
                <a style="font-weight: bold;" href="{{ collection.url}}?view=list">{{ collection.title }}</a>
                {%- else -%}
                <a href="{{ collection.url}}?view=list">{{ collection.title }}</a>
                {%- endif -%}
              </div>
            {% endfor %}
          </div>
          <div class="more-items-ff">

              {%- if collection.all_products_count != 0 -%}
                {% if paginate.current_page == paginate.pages %}
                  <span class="pre-count-t">{{ collection.all_products_count | minus : paginate.current_offset }} items</span>
                {% else %}
                  <span class="pre-count-t">{{ paginate.page_size }} items</span>
                {% endif %}
              {%- endif -%}
              <div class="m-item-t">
                  {% for product in collection.products %}
                    {%- if collection.title != 'Products' -%}
                      {%- assign urlProduct = collection.url | append: product.url -%}
                    {%- else -%}
                      {%- assign urlProduct = product.url -%}
                    {%- endif -%}
                    <div class="wrap-it-fe">
                     <div class="img-prod">
                       <a href="{{urlProduct}}"><img src="{{ product.featured_image | img_url: 'master' }}" alt="product"></a>
                     </div>
                     <div class="right-desc">
                         <div class="title-money">
                             <p>{{ product.title }}</p>
                             <div class="money-ri">
                                 {{product.price | money }}
                             </div>
                         </div>
                         <div class="desc-text-but">
                             <p>{{product.description}}</p>
                             {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}                            
                             <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                               {% for variant in product.variants %}
                                 {% if variant.available %}
                                   <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                                     {{ variant.title }}
                                   </option>
                                 {% else %}
                                   <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                                 {% endif %}
                               {% endfor %}
                             </select>
                 
                             <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden" data-error-message-wrapper role="alert">
                               {% include 'icon-error' %} <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
                             </div>
                 
                             <div class="wrapped-button-cart" style="display: inline-block; margin-top: 20px;">
                               <button type="submit" name="add"
                                 {% unless product.available %} aria-disabled="true"{% endunless %}
                                 aria-label="{% unless product.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                                 class="btn product-form__cart-submit"
                                 data-add-to-cart>
                                 <span data-add-to-cart-text>
                                   {% unless product.available %}
                                     {{ 'products.product.sold_out' | t }}
                                   {% else %}
                                     {{ 'products.product.add_to_cart' | t }}
                                   {% endunless %}
                                 </span>
                                 <span class="hide" data-loader>
                                   {% include 'icon-spinner' %}
                                 </span>
                               </button>
                               {% if section.settings.enable_payment_button %}
                                 {{ form | payment_button }}
                               {% endif %}
                             </div>
                           {% endform %}
                         </div>
                     </div>
                 </div>
                  {% endfor %}
              </div>

              {%- if collection.all_products_count == 0 -%}
                <h2 style="text-align: center;">Sorry, there are no products in this collection</h2>
              {%- endif -%}
              <div class="page-ff top-d">
                  {% if paginate.pages > 1 %}
                    {% include 'pagination-list' %}
                  {% endif %}
              </div>
          </div>
        </div>
    </div>
  </header>
</div>

{% endpaginate %}

